*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Colors Pink*/
  --pink-light:#C59DD2;
  --pink-base: #9547A5;
  --pink-dark: #7D298A;
  --pink-low:  #3F0F41;
  /*Colors Blue*/
  --blue-light: #73B6D2;
  --blue-base:  #358BB9;
  --blue-mid:   #2374A4;
  --blue-dark:  #144A72;
  --blue-low:   #08233C;
  /*Shape*/
  --shape-stroke:#002347;
  --shape-hover:#001933;
  --shape-base:#000F1F;
  --shape-background:#00050A;

  /*Text*/
  --text-title:#F8FBFB;
  --text-body:#E2E7E9;
  --text-label:#BAC6C9;

  /*Font Family*/
  --ff-body: "Raleway", sans-serif;

  --title-lg: 700 3rem var(--ff-body);
  --title-md: 700 2.5rem var(--ff-body);
  --title-sm: 700 2rem var(--ff-body);
  --title-xs: 700 1rem var(--ff-body);

  --subtitle: 500 2rem/200% var(--ff-body);

  --body-lg: 400 1.25rem/140% var(--ff-body);
  --body-md: 400 1rem/140% var(--ff-body);
  --body-sm: 400 0.875rem/140% var(--ff-body);
  --body-xs: 400 0.75rem/140% var(--ff-body);

  --button: 700 0.875rem var(--ff-body);
  --link: 500 0.875rem var(--ff-body);
  --tag: 700 0.625rem var(--ff-body);



}

a {
  text-decoration: none;
}

body {
  background-color: var(--shape-background);
}

html, button {
  font-family: var(--ff-body);
  color: white;
}