.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 3.5rem;
  padding-right: 10rem;
  padding-left: 10rem;

}

@media(width <= 39rem) {
  .header {
    width: 100%;
    padding: 0;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    padding-top: 1.25rem;
  }
}