.hero-3-div { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-top: 14.68rem;

  & .hero-3-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5.5rem;

    & div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;

      gap: 1rem;

      & img {
        filter: drop-shadow(0rem 0.0625rem 0.375rem rgb(149, 71, 165, 0.6));
      }
    }
  }
}

.hero-3-animacao {
  display: block;
  position: relative;
  width: 100%;

  & img {
    position: absolute;
  }

  & img:nth-child(1) {
    z-index: 3;
    top: 0;
    left: 30%;
    width: 40%;
  }

  & img:nth-child(2) {
    z-index: 2;
    transition: transform 1.5s ease, rotate 1.5s ease;
    top: 1.25rem;
    left: 55%;
    width: 15%;
  }

  & img:nth-child(3) {
    z-index: 1;
    transition: transform 1.5s ease, rotate 1.5s ease;
    top: 1.25rem;
    left: 55%;
    width: 15%;
  }

  & img:nth-child(4) {
    z-index: 1;
    transition: transform 1.5s ease, rotate 1.5s ease;
    top: 25rem;
    left: 32%;
    width: 20%;
  }
}

& .hero-3-animacao:hover {
  & img:nth-child(2) {
    transform: translate(9.37rem) rotate(15deg); 
  }

  & img:nth-child(3) {
    transform: translate(15.62rem, 6.25rem) rotate(25deg);
  }

  & img:nth-child(4) {
    transform: translate(-10.31rem) rotate(-15deg);
  }
}