main {
  position: relative;
  width: 100%;
  
  & .hero-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../assets/images/hero-background.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0;
    animation: showIn 4s forwards;
  }

  & .hero-text{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    padding-top: 10.25rem;
    padding-bottom: 6rem;
    padding-right: 8rem;
    padding-left: 8rem;

    opacity: 0;
    animation: showIn 4s forwards;

    & h1 {
      font: var(--title-lg);
      color: var(--text-title);
    }

    & h3{
      font: var(--body-lg);
      color: var(--text-body);
    }
  }
}

@keyframes showIn {
  to {
    opacity: 1;
  }
}