.button-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 9rem;
  height: 2.5rem;
  border-radius: 0.5rem;

  text-decoration: none;
  font: var(--button);
  color: var(--text-title);
  background-color: var(--pink-dark);
  padding: 3.rem;
  gap: 0.5rem;
}