.button-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 9rem;
  height: 2.5rem;
  border-radius: 0.5rem;

  text-decoration: none;
  font: var(--button);
  color: var(--text-title);
  background-color: var(--pink-dark);
  padding: 3.rem;
  gap: 0.5rem;
}

.subtitle {
  font: var(--subtitle);
  color: var(--text-body);
}

.title-sm {
  font: var(--title-sm);
  color: var(--text-title);
}

.body-md {
  font: var(--body-md);
  color: var(--text-body);
}